@import"_flex";
@import"_variables";
@import"_grid";
.container {
    width: 1140px;
    margin: 0 auto;
}

.m-5 {
    margin: 0 5px;
}

body {
    background-color: $bgBody;
}
header {
    padding: 20px 0;
    background-color: white;

    .container {
        a {
            font-size: 30px;
            color: $primary;
            letter-spacing: 3px;
        }

        .search {
            input {
                padding: 8px 12px;
                border: 1px solid $primary;
                width: 250px;
            }

            button {
                padding: 0px 40px;
                color: white;
                background-color: $primary;
                cursor: pointer;
                font-size: 18px;
            }
        }

        .cart {
            color: $primary;

            .cart-info {
                .cart-text {
                    font-size: 14px;

                    .text {}

                    .price {
                        font-weight: bold;
                    }
                }
            }

            .cart-icon {
                font-size: 30px;
                margin-left: 10px;
                position: relative;
                background-color: white;

                .cart-dropdown {
                    position: absolute;
                    right: 0;
                    border: 1px solid rgba(#333, 0.2);
                    width: 300px;
                    top: 50px;
                    box-shadow: 0px 2px 5px -2px rgba(#333, 0.3);
                    background-color: white;
                    padding-bottom: 50px;
                    z-index: 1;

                    &::after {
                        content: "";
                        width: 14px;
                        height: 14px;
                        border: 1px solid rgba(#333, 0.2);
                        position: absolute;
                        top: 0;
                        right: 2px;
                        border-right: none;
                        border-bottom: none;
                        background-color: white;
                        transform: translateY(-50%) rotate(45deg);
                    }

                    p {
                        text-align: center;
                        font-size: 18px;
                        color: $grey;
                        margin: 20px 0px 50px 0;
                        font-weight: bold;
                    }

                    button {
                        &.disabled {
                            cursor: not-allowed;
                            opacity: 0.4;
                        }

                        cursor: pointer;
                        width: 95%;
                        background-color: $secondary;
                        padding: 10px 0;
                        margin: 0 auto;
                        display: block;
                        font-size: 18px;
                    }

                    .dropdown-item {
                        margin-top: 10px;

                        img {
                            width: 40px;
                            height: 40px;
                        }

                        .dropdown-item-title {
                            font-size: 14px;
                            text-align: center;

                            .product-name {
                                color: $grey;

                            }

                            .product-price {
                                font-weight: 700;
                                color: $bold-grey;
                            }
                        }

                        .dropdown-item-quantity {
                            font-size: 14px;

                            h6 {
                                font-size: 14px;
                                color: $grey;
                            }

                            span {
                                color: black;
                            }
                        }

                    }

                    .cart-item {
                        li {
                            font-size: 16px;
                            display: flex;
                            padding: 5px;
                            align-items: center;

                            img {
                                width: 50px;
                                height: 50px;
                            }

                            &:hover {
                                background-color: rgba(#333, 0.1);
                            }

                            .cart-total {
                                margin-left: auto;
                            }

                            .btn-delete {
                                margin-left: 20px;
                            }

                            .quantity-cart {
                                margin-left: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
    display: block;
}

input {
    border: none;
    outline: none;
}

button {
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}