.header-container {
    .navbar {
        padding: 10px 0;

        .container {
            .title {
                font-size: 30px;
                color: #077915;
                letter-spacing: 3px;
            }
            .cart-icon {
                cursor: pointer;
                position: relative;
    
                .ball {
                    display: block;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background-color: #6bc9e2;
                    color: white;
                    position: absolute;
                    top: 0;
                    left: 100%;
                    text-align: center;
                }
            }
            .navbar-collapse {
                padding: 10px 0;

                a {
                    margin-left: 20px;
                    font-size: 20px;
                }
            }

        }
    }
}